html {
    font-family: "Inter", sans-serif;
}

h1 {
    font-weight: 700px;
    font-style: bold;
    font-size: 64px;
    text-align: center;
}

h2 {
    font-weight: 700px;
    font-style: bold;
    font-size: 36px;
    text-align: center;
}

#content {
    display: flex;
    flex-direction: row;
}

.left-col {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    margin: 0rem 5rem 0rem 10rem;
}

.right-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin: 0rem 10rem 0rem 5rem;
}

#poke-sprite {
    top: 165px;
    width: 463px;
    image-rendering: pixelated;
    border: 4px solid black;
}

#poke-name {
    width: 463px;
    height: 67px;
    background-color: #E8E8E8;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400px;
    font-style: normal;
    font-size: 36px
}

#types {
    display: flex;
    width: 463px;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin: 0.1rem;
}

#types-title {
    font-weight: 700px;
    font-style: bold;
    font-size: 24px;
    width: 463px;
    text-align: left;
    margin: 0rem;
}

.type-tag {
    width: fit-content;
    border-radius: 10px;
    padding: 0.4rem 0.5rem;
    font-size: 24px;
    text-align: center;
}

.side-by-side-buttons {
    display: flex;
    flex-direction: row;
}

.nav-button {
    background-color:#E8E8E8;
    border: none;
    width: 173px;
    height: 69px;
    border-radius: 10px;
    margin: 1rem 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400px;
    font-size: 36px;
    
}

#info-moves-buttons {
    margin-top: 4rem;
}

.arrow {
    width: 61px;
    height: 61px;
}

#next-button {
    rotate: 180deg;
}

#info-box {
    background-color: #E8E8E8;
    width: 486px;
    height: 598px;
    font-weight: 400px;
    font-size: 36px;
    line-height: 0.5rem;
}

#info-box-header {
    margin-top: 0;
}

#bio-info {
    margin-left: 2rem;
    margin-top: 2rem;
}

#moves {
    margin-left: 2rem;
    margin-top: 2rem;
}